h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 0.42rem;
}

.warning_image_wrapper {
  text-align: center;
  img {
    width: 50%;
    max-width: 300px;
  }
}

h3 {
  margin-top: 0.4rem;
  text-align: center;
  font-size: 1.668rem;
}
